body{

}

/* Nav Bar*/
#nav-bar{
	margin-top: :5px;
	font-size: 16px;
	background: #E6E3DE;
	color: black;
}

.flex-container{
	display: flex;
	justify-content: space-between;
}

.flex-items{
	display: flex;
	justify-content: flex-end;
	align-items:center;
}

.flex-item-languages{
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-item-logo{
	display:flex;
	justify-content:center;
}

.logo{
	height:120px;
}

.nav-link {
	font-size:16px;
	color: #4F2A08;
	font-weight: bold;
}

#nav-bar a:hover {
	color: #B19265;
}

.dropdown-menu{
	background: #482207;
}

.dropdown-item{
	color:white;
}

/*Onglets*/
.onglets{
	background:#F2F2F1;
}

.onglets a:hover{
	color: #B19265;
	font-weight: bold;
}

.onglets-items{
	padding-right:10px; 
	font-size:16px;
	color:#5c4019;

}






/*Footer*/
#footer{
  padding: 10px;
  background:#E6E3DE;
  color: #5C4019;
  text-align: center;
  font-weight: bold;
}

#footer a {
  padding-right: 10px;
  color: #5C4019;
  font-size: 20px;
}

#footer a:hover {
  color: grey;
}